@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Stanley Sistemas</h1>
    <p class="lead">A Tecnologia ao seu alcance...</p>
    <p><a href="http://www.stanleysistemas.xyz" class="btn btn-primary btn-lg">Leia mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sistemas Web</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="">Leia Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sistemas Mobile</h2>
        <p></p>
        <p><a class="btn btn-default" href="">Leia Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sistemas Desktop</h2>
        <p></p>
        <p><a class="btn btn-default" href="">Leia Mais &raquo;</a></p>
    </div>
</div>